<!DOCTYPE html>
<html lang="pt-BR">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/global.css" rel="stylesheet">
    <title>Admin Agência DevHouse</title>
</head>
<body>
    <%- include ("../components/header") %> 
    <main>
        <form action="/salvar-produto" enctype="multipart/form-data" method="POST">
            <label>Nome do Produto</label>
            <input type="text" name="nome"/>

            <label>Descrição do Produto</label>
            <input type="text" name="descricao"/>

            <label>Imagem do Produto</label>
            <input type="file" name="imagem"/>

            <button type="submit">Finalizar o Cadastro</button>
        </form>
    </main>
</body>
</html>