<footer>
    <div class = "footer-superior">
    <div class="footer-bloco-1">
        <h1>devHouse</h1>
        <p>Digits is a website template built to work seamlesly with the WordPress block editor to create beautifully designed pages in minutes.</p>
    </div>
    
    <div class="footer-bloco-2">
        <h3>Resources</h3>

        <ul class = "icons_footer">
            <li><a href = "https://pt-br.facebook.com/"> <img class = "icon_sociais" src = "img\facebook.svg" alt = "Icone Facebook"></a></li>
            <li><a href = "https://www.instagram.com/"> <img class = "icon_sociais" src = "img\instagram.svg" alt = "Icone Instagram"></a></li>
            <li><a href = "https://br.linkedin.com/"> <img class = "icon_sociais" src = "img\linkedin.svg" alt = "Icone Linkedin"></a></li>
            <li><a href = "https://www.youtube.com/?hl=pt"> <img class = "icon_sociais" src = "img\youtube.svg"  alt = "Icone Youtube"></a></li>
         </ul>
        <p>Download now</p>
        <p>Documentation</p>
    </div>
    </div>
    <div class = "final-footer">
        <div class="copyright">
            <p>Copyright © 2020 tempy.club</p>
        </div>
        <ul class = "privacy-icon">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">GDPR</a></li>
        </ul>
    </div>
</footer> 

<a class = "whatsapp-chat" href = ""><img src = ".\img\chat-icon.png"></a>