<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "css/global.css" rel= "stylesheet">
    <link href = "css/blog.css" rel= "stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"/>
    <title>Blog da Agência Devhouse</title>
</head>
<body>
    <header>
        <img src=".\img\logo.png" alt="Agência DevHouse" title="Agência DevHouse" id= "logo">
        <img src=".\img\menu-icon.png" alt="Menu DevHouse" title = "Menu" id = "menuMobile">

        <nav class="menu">
            <a href="#">Home</a>
            <a href="#">Produto</a>
            <a href="#">Depoimentos</a>
            <a href="#">Blog</a>
        </nav>
        <div class="atendimento">
            <a href="+00 123 456 789">+00 123 456 789</a>
            <button> Atendimento</button>
        </div>
    </header>
    <main id = "main-blog">
        <h1 class="title-blog">DH News</h1>
        <h3><small>Postado em 02/03/2021</small></h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi soluta debitis perferendis mollitia laudantium iure aspernatur sint vel quasi voluptas neque id, accusamus nemo incidunt libero expedita ea amet ut! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed <strong>exercitationem voluptatum</strong> molestiae provident totam deserunt quis! Fuga explicabo odio incidunt unde aliquid natus vitae suscipit sit dolore quis, eos soluta?</p>

        <img class = "foto_colearning" src="img/destaque.webp" alt=" Foto do Colearning DH">

        <h2>Sit amet consectetur adipisicing elit</h2>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad laudantium dolorum sit nam deleniti adipisci delectus natus optio, quidem modi aut quas, dicta voluptates consequatur repudiandae, aspernatur laboriosam sapiente rerum!</p>

        <ol class = "lista" start = "1">
           <li>Lorem ipsum dolor</li>
           <li>Lorem ipsum dolor</li>
           <li>Lorem ipsum dolor</li>
        </ol>
    
        <h2>Sit amet consectetur adipisicing elit</h2>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, fuga adipisci. Vero quaerat, maiores, soluta nesciunt delectus totam illum dolorum libero omnis veritatis beatae quia molestiae repellendus amet voluptates sunt. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum error dolorem, ex ipsam unde sit perferendis animi perspiciatis quisquam, soluta quae. Odio vel illo impedit voluptatum fugit porro alias a?</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error sapiente reprehenderit libero nulla nesciunt modi! Molestias recusandae id illo sequi quas quam inventore. Unde quisquam <strong> numquam culpa</strong> ullam quasi. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam exercitationem corporis error laudantium, in voluptate dolor, quia dolorem ab molestiae sit iusto consectetur, reiciendis atque. Dicta eveniet eius vitae in.</p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio aspernatur asperiores alias tenetur aliquid ex perspiciatis inventore quam. Officia ex facilis perspiciatis esse incidunt inventore commodi quisquam rem aut dicta!</p>
    </main>
    <footer class = "rodape">
        <ul>
            <li><a href = "https://pt-br.facebook.com/"> <img class = "icon_sociais" src = "img\facebook.svg" alt = "Icone Facebook"></a></li>
            <li><a href = "https://www.instagram.com/"> <img class = "icon_sociais" src = "img\instagram.svg" alt = "Icone Instagram"></a></li>
            <li><a href = "https://br.linkedin.com/"> <img class = "icon_sociais" src = "img\linkedin.svg" alt = "Icone Linkedin"></a></li>
            <li><a href = "https://www.youtube.com/?hl=pt"> <img class = "icon_sociais" src = "img\youtube.svg"  alt = "Icone Youtube"></a></li>
        </ul>
    </footer>
</body>
</html>