<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/contato.css" rel="stylesheet">
    <link href="css/global.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"/>

    <title>Contato</title>
</head>
<body>
    <%- include("components/header") %>

    <section id = "contato">
        <div>
            <h1>Contato</h1>
            <small>Questions or concerns? Just fill out the form below and our support team will get back to you within 24 hours</small>
        </div>
            <form class = "contato-form" action = "/receber-contato" method = "POST">
                <div class="nome-completo">
                    <input class = "input-padrao"  type = "text" name = "name" id = "nome" placeholder="Nome">
                    <input class = "input-padrao"  type = "text" name = "last-name" id = "last-name" placeholder = "Sobrenome">
                </div>

                <input class = "input-padrao" type = "tel" name = "telefone" id = "telefone" placeholder="Telefone"> <br>

                <select class = "input-padrao" name="service">
                    <option value = "" disabled selected>Selecione</option>
                    <option value = "service1" >Serviço 1</option>
                    <option value = "service2" >Serviço 2</option>
                    <option value = "service3" >Serviço 3</option>
                </select> <br>
                
                <button class = "button_padrao" type="submit">Enviar dados</button>
                <button class = "button_padrao" type="reset">Limpar dados</button>
            
            </form>
        
    </section>
    <section class = "ready-banner">
        <h1 class = "white-title">Ready to launch <br>your next website?</h1>
        <div class="ready-banner-exp">
            <button class = "white-button" type ="button">Get in touch now</button>
            <p>Or, take a peek inside our design studio</p>
        </div>
    </section>
    
    <%- include("components/footer")%>

</body>
</html>