<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/home.css" rel="stylesheet">
    <link href="css/global.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"/>
    
    <title>Agência DevHouse</title>
</head>

<body>
    <%- include("components/header") %>
    
    <main>
        <section class ="banner">
            <h1><%= titulo %></h1>
            <h1>Good design meets <br> great user experience</h1>
            <p>For everyone, from beginners to experts</p>
        
        <div>
            <button class = "button_padrao"> Buy Digits</button>
            <button class = "button_padrao"> See the Features</button>
        </div>
        <img src =".\img\banner.png" alt="Banner Principal" title="Banner Principal" id="banner1">

        </section>
        <section class="middle-1">
            <p> Trusted by forward-thinking software teams around the world</p>
            <div class = "logo">
                <img src = ".\img\logo-drawkit.png" alt = "DrawKit" title = "DrawKit" class = "logo-drawkit">
                <img src = ".\img\logo-cinemax.png" alt = "Cinemax" title = "Cinemax" class = "logo-cinemax">
                <img src = ".\img\logo-disney.png" alt = "Disney" title = "Disney" class = "logo-disney">
            </div>
        </section>
        <section class = "banner-2">
            <h1>Whatever work you do,<br>we're able to help</h1>
            <div class="imgBanner-2">
                <img src = ".\img\banner-2.png" alt = "Banner Secundário" title = "Banner Secundário" id="banner2">
            
            <div class="topics">
                <div class="topic-init">
                <h2>Design and Assets</h2>
                <h3>Make your brand stand out with pixel-perfect design crafted to perfection.</h3>
                </div>
            <div class="topic-middle">
                <h2>Easy Content</h2>
                <h3>Import your demos or build pages visually. Bonus: All images and illustrations included!</h3>
            </div>
            <div class="topic-last">    
                <h2>Fast and Reliable</h2>
                <h3>No heavy-weight plugins. No builders. No unneccesary file loading. Pure WordPress.</h3>
            </div>
            </div>
        </div>
        </section>
          
        <section>
            <h1 class = "depm-h1">What others are saying</h1>
            <div class="depoimentos">
            <div class = "depm">
                <p>Completely beautiful website and amazing support! This is my second website from this author and I love both of the sites so much and she has helped me so well when I needed it!</p>
            <div class= "depm-img">
                <img src= ".\img\user-1.png" alt="Happy User 1">
                <small>Happy User</small>
            </div>
            </div>
            <div class = "depm">
                <p>Completely beautiful website and amazing support! This is my second website from this author and I love both of the sites so much and she has helped me so well when I needed it!</p>
            <div class= "depm-img">
                <img src= ".\img\user-2.png" alt="Happy User 2">
                <small>Happy User</small>
            </div>
            </div>
            <div class = "depm">
                <p>Completely beautiful website and amazing support! This is my second website from this author and I love both of the sites so much and she has helped me so well when I needed it!</p>
            <div class= "depm-img">
                <img src= ".\img\user-3.png" alt="Happy User 3">
                <small>Happy User</small>
            </div>
            </div>
        </div>
        </section>
        <section class = "ready-banner">
            <h1 class = "white-title">Ready to launch <br>your next website?</h1>
            <div class="ready-banner-exp">
                <button class = "white-button" type ="button">Get in touch now</button>
                <p>Or, take a peek inside our design studio</p>
            </div>
        </section>
    </main>
    <%- include("components/footer")%>
</body>
</html>
