<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/home.css" rel="stylesheet">
    <link href="css/global.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"/>
    
    <title>Agência DevHouse</title>
</head>

<body>
    <header>
        <img src=".\img\logo.png" alt="Agência DevHouse" title="Agência DevHouse" id= "logo">
        <img src=".\img\menu-icon.png" alt="Menu DevHouse" title = "Menu" id = "menuMobile">

        <nav class="menu">
            <a href="#">Home</a>
            <a href="#">Produto</a>
            <a href="#">Depoimentos</a>
            <a href="#">Blog</a>
        </nav>
        <div class="atendimento">
            <a href="+00 123 456 789">+00 123 456 789</a>
            <button> Atendimento</button>
        </div>
    </header>
    <main>
        <section class ="banner">
            <h1><%= titulo %></h1>
            <h1>Good design meets <br> great user experience</h1>
            <p>For everyone, from beginners to experts</p>
        
        <div>
            <button class = "button_padrao"> Buy Digits</button>
            <button class = "button_padrao"> See the Features</button>
        </div>
        <img src =".\img\banner.png" alt="Banner Principal" title="Banner Principal" id="banner1">

        </section>
        <section class="middle">
            <p> Trusted by forward-thinking software teams around the world</p>
            <div class = "logo">
                <img src = ".\img\logo-drawkit.png" alt = "DrawKit" title = "DrawKit" class = "logo-drawkit">
                <img src = ".\img\logo-cinemax.png" alt = "Cinemax" title = "Cinemax" class = "logo-cinemax">
                <img src = ".\img\logo-disney.png" alt = "Disney" title = "Disney" class = "logo-disney">
            </div>
        </section>
        <section class = "banner">
            <h1>Whatever work you do,<br>we're able to help</h1>
            <img src = ".\img\banner-2.png" alt = "Banner Secundário" title = "Banner Secundário" id="banner2">
            
            <h2>Design and Assets</h2>
            <h3>Make your brand stand out with pixel-perfect design crafted to perfection.</h3>
            <h2>Easy Content</h2>
            <h3>Import your demos or build pages visually. Bonus: All images and illustrations included!</h3>
            <h2>Fast and Reliable</h2>
            <h3>No heavy-weight plugins. No builders. No unneccesary file loading. Pure WordPress.</h3>
        </section>
    </main>
</body>
</html>
