<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/home.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    
    <title>Agência DevHouse</title>
</head>

<body>
    <header>
        <img src=".\img\logo.png" alt="Agência DevHouse" title="Agência DevHouse" id= "logo">
        <img src=".\img\menu-icon.png" alt="Menu DevHouse" title = "Menu" id = "menuMobile">

        <nav class="menu">
            <a href="#">Home</a>
            <a href="#">Produto</a>
            <a href="#">Depoimentos</a>
            <a href="#">Blog</a>
        </nav>
        <div class="atendimento">
            <a href="+00 123 456 789">+00 123 456 789</a>
            <button> Atendimento</button>
        </div>
    </header>
    <main>
        <section class ="banner">
            <h1>Good design meets <br> great user experience</h1>
            <p>For everyone, from beginners to experts</p>
        
        <div>
            <button class = "button_padrao"> Buy Digits</button>
            <button class = "button_padrao"> See the Features</button>
        </div>
        <img src =".\img\banner.png" alt="" title="" id="">
    </section>
    </main>
</body>
</html>
