* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    font-size: 20px;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    position: relative;
    width: 98vw;
}

.menu a{
    color: blue;
    margin-left: 50px;
    text-decoration: none;
    font-size: 22px;
}

.atendimento a {
    font-size: 18px;
    text-decoration: none;
}

.atendimento button {
    background-color: #3751FF;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding: 15px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px;
    border: none;
}

.ready-banner{
    padding: 0px 60px;
    background-color: #3751FF;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
}

h1.white-title{
    color: white;
    font-size: 32px;
}

.white-button {
    background-color: white;
    padding: 15px;
    border: none;
    border-radius: 100px;
}

.ready-banner p {
    color: #DFE0EB;
    font-size: 10px;
}

.ready-banner-exp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 100px;
    gap: 10px;
}

.footer-superior {
    display: flex;
    padding: 50px 100px;
    justify-content: space-between;
    font-size: 15px;
}

footer h1 {
    color: #1E266D;
    font-size: 46px;
}

.footer-bloco-1,
.footer-bloco-2{
    width: 40vh;
}

.footer-bloco-2{
    align-self: flex-end;
}

.footer-bloco-1 h1{
    margin-bottom: 20px;
}

.footer-bloco-2 h3{
    color: rgba(30, 38, 109, 1);
    font-size: 15px;
}

.icons_footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0px 30px;
    list-style: none;
} 

footer p {
    margin: 20px 0px;
}

.icons_footer img{
    width: 25px;
}

.final-footer {
    display: flex;
    justify-content: space-around;
    border-top: solid 1px rgba(135, 146, 161, 0.08);
    padding-top: 10px;
    margin: 0px 40px;
    font-size: 10px;
}

.copyright {
    color:rgba(69, 88, 128, 0.5);
}

.privacy-icon{
    display: flex;
    list-style: none;
    column-gap: 30px;
    align-self: center;
}

.privacy-icon a {
    text-decoration: none;
    color: rgba(69, 88, 128, 0.5);
}

.whatsapp-chat {
    position: fixed;
    bottom: 20px;
    right: 20px;

}

#menuMobile {
    display: none;
}

@media (max-width: 465px) {
    
    #menuMobile {
        display: block;
        margin-left: 180px;
    }
    .menu {
        display: none;
    }
    .atendimento{
        display: none;
    }
}