.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f9ff;
    padding: 40px;
} 

.banner h1 {
    text-align: center;
    color: #1E266D;
    font-size: 46px;
}

.banner p {
    color: #455880;
    font-size: 18px;
}

.banner * {
    margin-top: 20px;
}

.button_padrao {
    border-radius: 40px;
    padding: 10px;
    border: none;
    font-size: 18px;
    background-color: #3751FF;
    color: white;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle p {
    font-size: 16px;
    color: #455880;
}

.logo img {
    margin-top: 20px;
    margin-left: 210px;  
    
}

.logo .logo-drawkit {
    height: 33px;
    width: 95px;
}
.logo .logo-cinemax {
    height: 90px;
    width: 174px;
}
.logo .logo-disney {
    height: 34px;
    width: 71px;
}



#menuMobile {
    display: none;
}

@media (max-width: 465px) {
    
    #menuMobile {
        display: block;
        margin-left: 180px;
    }
    .menu {
        display: none;
    }
    .atendimento{
        display: none;
    }
}